<a href="https://colab.research.google.com/github/shashvindu/Data-Visualization-Case-Study-in-Python/blob/master/columns_have_date.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Write a function in python that inputs a dataframe and identify which columns have date in them. Using these date columns make new columns which are difference between these columns taking 2 at a time. (for instance if there is date1, date2, date3 columns, output should be like date1-date2, date2-date3, date1-date3). For this problem only, print out data in the colab. 
Thing to consider
•	Date column might have some invalid entries in them 
•	Date can be of different format throughout the column
•	Code should be efficient and fast
•	Code should be well commented and easy to interpret
•	Use google Colab
•	Code should be robust enough to run on any dataset
•	Make a dummy dataset by yourself.

In [26]:
#import lb
import pandas as pd
import numpy as np
from datetime import datetime

In [27]:
#data 
df = pd.DataFrame({
    'd1':['15/08/2020','15/07/2020','10/05/2020','abc',np.nan],
    'd2': ['2020/10/10','2020/1/1','2020/2/2','2020/10/15','2020/10/10'],
    'd3':['1 January 2020','15 June 2019','3 July 2018','31 December 2016','21 February 2020'],
    'd4':['12/25/2020','11/25/2020','2020/2/20','3/25/2020','10/25/2020'],   
    'd6':[1,2,300,400,5],
    'd7':['a','b','c','e','f'],
    'd8':['12/25/2020','11/25/2020','5/25/2020','3/25/2020','31 December 2016']
    
})

In [28]:
df

           d1          d2                d3  ...   d6  d7                d8
0  15/08/2020  2020/10/10    1 January 2020  ...    1   a        12/25/2020
1  15/07/2020    2020/1/1      15 June 2019  ...    2   b        11/25/2020
2  10/05/2020    2020/2/2       3 July 2018  ...  300   c         5/25/2020
3         abc  2020/10/15  31 December 2016  ...  400   e         3/25/2020
4         NaN  2020/10/10  21 February 2020  ...    5   f  31 December 2016

[5 rows x 7 columns]

In [29]:
df.dtypes

d1    object
d2    object
d3    object
d4    object
d6     int64
d7    object
d8    object
dtype: object

In [30]:
#udf for prob changing data type obj to data, and also for diff
def date_diff(df):
    datecol=[]
    for col in df.columns:
        if df[col].dtype == 'object':
            if(pd.to_datetime(df[col],errors='coerce').isna().sum()< 0.8*len(df[col])):# number of NAs in a columns is less than 80 percent of the length of that column be handled
              #astype(float, errors='coerce') , or pd. ... to_numeric(df. bad, errors='coerce') , 
            #bad values are replaced with np. NaN , also according to spec and reasonable
                df[col]=pd.to_datetime(df[col],errors='coerce')#
                datecol.append(col)
    date_data = df[np.intersect1d(df.columns, datecol)]
    for col1 in datecol:
        for col2 in datecol:
            if datecol.index(col2) > datecol.index(col1):
                new_col_name=col1+'-'+ col2 #new columns
                df[new_col_name]=date_data.apply(lambda x: 'NaT' if (pd.isnull((x[col1]-x[col2]))) else abs(x[col1]-x[col2]),axis=1)
    return df

In [31]:
df=date_diff(df)
df

          d1         d2         d3  ...     d3-d4     d3-d8     d4-d8
0 2020-08-15 2020-10-10 2020-01-01  ...  359 days  359 days    0 days
1 2020-07-15 2020-01-01 2019-06-15  ...  529 days  529 days    0 days
2 2020-10-05 2020-02-02 2018-07-03  ...  597 days  692 days   95 days
3        NaT 2020-10-15 2016-12-31  ... 1180 days 1180 days    0 days
4        NaT 2020-10-10 2020-02-21  ...  247 days 1147 days 1394 days

[5 rows x 17 columns]

In [32]:
df.dtypes

d1        datetime64[ns]
d2        datetime64[ns]
d3        datetime64[ns]
d4        datetime64[ns]
d6                 int64
d7                object
d8        datetime64[ns]
d1-d2    timedelta64[ns]
d1-d3    timedelta64[ns]
d1-d4    timedelta64[ns]
d1-d8    timedelta64[ns]
d2-d3    timedelta64[ns]
d2-d4    timedelta64[ns]
d2-d8    timedelta64[ns]
d3-d4    timedelta64[ns]
d3-d8    timedelta64[ns]
d4-d8    timedelta64[ns]
dtype: object